<app-header-one></app-header-one>

<section class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Despre mine</h2>
            <ul>
                <li><a routerLink="/">Acasă</a></li>
                <li>Despre mine</li>
            </ul>
        </div>
    </div>
</section>

<section class="about-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="about-image">
                    <img src="assets/img/about-img1.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="about-content">
                    <h3><b>Despre mine</b></h3>
                    <p>
                        Sunt psiholog specializat în psihologia clinică a copiilor, cu experiență în evaluare și
                        intervenție psihologică, în special în tulburările de neurodezvoltare, dar și a copiilor
                        fără un diagnostic și care întâmpină dificultăți de învățare, adaptare sau dezvoltare.
                        Ofer sprijin adaptat nevoilor fiecărui copil, astfel încât să-și atingă potențialul.
                    </p>

                    <h3><b>Abordarea mea</b></h3>
                    <p>
                        În activitatea mea, pun accent pe abordarea personalizată, îmbinând metode structurate,
                        validate științific cu activități ludice și jocuri interactive, astfel încât copilul
                        să se simtă motivat, implicat și în siguranță.
                    </p>
                    <p>
                        Colaborarea cu părinții este esențială, astfel ofer feedback constant și recomandări
                        practice pentru a sprijini progresul copilului și în mediul familial.
                    </p>

                    <h3><b>Am experiență în:</b></h3>
                    <ul>
                        <li>evaluarea psihologică a copiilor cu cerințe educaționale speciale;</li>
                        <li>evaluarea psihologică a copiilor cu tulburări de neurodezvoltare;</li>
                        <li>intervenția psihologică pentru copii cu tulburări de neurodezvoltare;</li>
                        <li>
                        evaluarea copiilor fără tulburări diagnosticate, pentru identificarea dificultăților
                        de învățare, adaptare sau dezvoltare și oferirea de recomandări personalizate;
                        </li>
                        <li>consiliere psihologică pentru copii.</li>
                    </ul>

                    <p>
                        Cred cu tărie că fiecare copil poate progresa atunci când primește sprijin adaptat
                        nevoilor sale și mediul familial este implicat activ în proces.
                    </p>

                    <h3><b>Formare și cursuri relevante</b></h3>
                    <br/>
                    <b>Studii</b>
                    <ul>
                        <li>
                        Studii universitare de licență în Psihologie – Universitatea „Alexandru Ioan Cuza” Iași
                        </li>
                        <li>
                        Master în Psihologie Clinică și Psihoterapie – Universitatea „Alexandru Ioan Cuza” Iași
                        </li>
                        <li>
                        Curs de formare complementară de lungă durată în psihoterapie cognitiv-comportamentală
                        (IFTECC Iași)
                        </li>
                    </ul>
                    <br/>
                    <b>Cursuri specializate</b>
                    <ul>
                        <li>
                        Intervenția comportamentală timpurie în tulburările de spectru autist și alte tulburări
                        de dezvoltare, DAAL Autism Project
                        </li>
                        <li>
                        Evaluarea psihologică a copilului cu întârziere în dezvoltare și/sau tulburare din
                        spectrul autist, Asociația Institutul de Psihologia Dezvoltării
                        </li>
                        <li>
                        Metode și tehnici de evaluare și intervenție în tulburările de neurodezvoltare
                        (TSA, TSI, ADHD, ADD) conform DSM V,
                        Asociația Institutul de Promovare a Psihologiei Experimentate
                        </li>
                        <li>
                        Evaluarea abilităților în tulburările de dezvoltare ABA Masters,
                        Asociația Autism Voice
                        </li>
                        <li>
                        Tehnici de analiză aplicată a comportamentului în cazul copiilor cu TSA,
                        Asociația AITA
                        </li>
                        <li>
                        Introduction to The Assessment of Basic Language and Learning Skills – Revised
                        (ABLLS-R), Behaviour Analysts, Inc.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>