<app-header-one></app-header-one>

<div class="home-slides owl-carousel owl-theme">
    <div class="main-banner banner-bg1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="main-banner-content">
                        <span class="sub-title">Join Us</span>
                        <h1>Be Informed About Autism</h1>
                        <p>Nullam ac nisl mi. Nulla facilisi. Sed auctor dapibus tortor, nec iaculis metus aliquet at. Nam sit amet feugiat sem. Maecenas accumsan erat eu tristique ornare.</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="main-banner-image">
                        <img src="assets/img/banner-img1.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner banner-bg2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="main-banner-content">
                        <span class="sub-title">Join Us</span>
                        <h1>You Can Educate Your Child!</h1>
                        <p>Nullam ac nisl mi. Nulla facilisi. Sed auctor dapibus tortor, nec iaculis metus aliquet at. Nam sit amet feugiat sem. Maecenas accumsan erat eu tristique ornare.</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="main-banner-image">
                        <img src="assets/img/banner-img2.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner banner-bg3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="main-banner-content">
                        <span class="sub-title">Join Us</span>
                        <h1>Learn Better to Prevent Autism</h1>
                        <p>Sed porttitor feugiat felis, quis elementum ipsum aliquam vitae. Proin tempus magna vel risus cursus, non consectetur est auctor.</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="main-banner-image">
                        <img src="assets/img/banner-img3.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/img/about-img1.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h2>Despre mine</h2>
                    <p>Sunt psiholog clinician, cu formare și experiență în lucrul cu copiii și familiile acestora, specializată în <b>evaluare psihologică</b> și <b>intervenție în tulburările de neurodezvoltare</b>.</p>
                    <p>Pun un accent deosebit pe relația cu copilul și pe colaborarea cu părinții, considerând că progresul real apare atunci când familia este implicată activ și primește sprijin, claritate și ghidare pe tot parcursul procesului terapeutic</p>
                    <div class="btn-box">
                        <a routerLink="/about" class="default-btn"><i class="flaticon-open-book"></i> Află mai multe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq-area ptb-100 bg-f9f9f9">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Faq's</span>
            <h2>Frequently Asked & Questions</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="faq-image faq-bg1">
                    <img src="assets/img/faq-img.jpg" alt="image">

                    <a href="https://www.youtube.com/watch?v=BtN-goy9VOY" class="video-btn popup-youtube"><i class="flaticon-play-button"></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Nullam pretium justo vel justo hendrerit?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. In facilisis scelerisque ante, at vehicula sem pharetra eget.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Aliquam tempor tellus ac interdum maximus?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
                            <div class="card-body">
                                <p> Maecenas vitae tincidunt dui, at dictum risus. Curabitur faucibus ornare luctus. Sed porttitor laoreet sem a dignissim. Nam et massa venenatis, euismod massa eget, fermentum sapien. Nullam fringilla nisl sed erat lobortis accumsan.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Nunc vel sapien et ex porta venenatis?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Donec dignissim felis eget lacinia luctus. In imperdiet libero a leo commodo vulputate. In eu nibh sapien. Donec cursus suscipit odio vitae finibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Donec sed semper eros. Vestibulum elementum, nulla at elementum placerat, tortor sem sollicitudin purus, sit amet dignissim erat tellus sit amet erat. Nam eget faucibus turpis.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingFive">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Aenean at nibh dignissim?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Pellentesque vitae laoreet mauris. In nunc tellus, sagittis quis condimentum eu, suscipit vel dolor. Sed lorem erat, lacinia sit amet nibh ac, elementum consectetur quam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="faq-shape1"><img src="assets/img/faq-shape1.png" alt="image"></div>
    <div class="faq-shape2"><img src="assets/img/faq-shape2.png" alt="image"></div>
</section>