<app-header-one></app-header-one>

<div class="home-slides owl-carousel owl-theme">
    <div class="main-banner banner-bg1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12">
                    <div class="main-banner-content">
                        <h1>Psihologie clinică pentru copii și familii</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner banner-bg2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12">
                    <div class="main-banner-content">
                        <h1>Evaluări cu grijă și profesionalism</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner banner-bg3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12">
                    <div class="main-banner-content">
                        <h1>Intervenție psihologică personalizată</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner banner-bg4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12">
                    <div class="main-banner-content">
                        <h1>Sprijin psihologic pentru copil și familie</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/img/about-img1.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h2>Despre mine</h2>
                    <p>Sunt psiholog clinician, cu formare și experiență în lucrul cu copiii și familiile acestora, specializată în <b>evaluare psihologică</b> și <b>intervenție în tulburările de neurodezvoltare</b>.</p>
                    <p>Pun un accent deosebit pe relația cu copilul și pe colaborarea cu părinții, considerând că progresul real apare atunci când familia este implicată activ și primește sprijin, claritate și ghidare pe tot parcursul procesului terapeutic</p>
                    <div class="btn-box">
                        <a routerLink="/about" class="default-btn"><i class="flaticon-open-book"></i> Află mai multe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Testimoniale</h2>
        </div>

        <div class="testimonials-slides owl-carousel owl-theme">
            <div class="single-testimonial-item text-center">
                <div class="testimonial-content">
                    <p><em>Doamna Mădălina este un psiholog minunat! Întotdeauna pregătită să asculte, să ajute și să îndrume. Recomand din suflet!</em></p>
                </div>
                <div class="testimonial-info mt-3">
                    <h6>Georgiana D.</h6>
                </div>
            </div>

            <div class="single-testimonial-item text-center">
                <div class="testimonial-content">
                    <p><em>O persoană calmă, atentă la copil și comportament și la îngrijorările părinților! La final am primit un raport foarte frumos detaliat! Recomand!</em></p>
                </div>
                <div class="testimonial-info mt-3">
                    <h6>Codruta B.</h6>
                </div>
            </div>

            <div class="single-testimonial-item text-center">
                <div class="testimonial-content">
                    <p><em>Un om minunat și cald cu multă dedicare și pasiune în tot ceea ce face. Mereu implicată și atentă la nevoile copilului.</em></p>
                </div>
                <div class="testimonial-info mt-3">
                    <h6>Larisa P.</h6>
                </div>
            </div>

            <div class="single-testimonial-item text-center">
                <div class="testimonial-content">
                    <p><em>Doamna Mădălina, este minunată! Am găsit o persoană caldă, care lucrează cu multă atenție și cu grijă față de copii!</em></p>
                </div>
                <div class="testimonial-info mt-3">
                    <h6>Bianca P.</h6>
                </div>
            </div>

            <div class="single-testimonial-item text-center">
                <div class="testimonial-content">
                    <p><em>Un psiholog, terapeut și un om extraordinar! Datorită ei, am putut accepta și înțelege mai bine cu ce se confruntă copilul meu. E minunat să vezi un terapeut, cum se pune în locul unui copil și îi înțelege emoțiile! O recomand din toată inima!</em></p>
                </div>
                <div class="testimonial-info mt-3">
                    <h6>Denisa Z.</h6>
                </div>
            </div>

            <div class="single-testimonial-item text-center">
                <div class="testimonial-content">
                    <p><em>D-na psiholog întrunește toate calitățile să se facă plăcută de copii care îi trec pragul! Recomand cu încredere! Profesionalism!</em></p>
                </div>
                <div class="testimonial-info mt-3">
                    <h6>Roxana P.</h6>
                </div>
            </div>

            <div class="single-testimonial-item text-center">
                <div class="testimonial-content">
                    <p><em>Doamna Mădălina este o profesionistă, un om cu suflet, dragoste și dedicație față de copii. O recomand din toată inima! Este cea mai bună!</em></p>
                </div>
                <div class="testimonial-info mt-3">
                    <h6>Elena A.</h6>
                </div>
            </div>

            <div class="single-testimonial-item text-center">
                <div class="testimonial-content">
                    <p><em>Un psiholog clinician deosebit, foarte empatic și profesionist. Oferă sprijin real, multă răbdare și explicații clare. Se simte dedicarea și pasiunea pentru ceea ce face. Recomand cu mare încredere!</em></p>
                </div>
                <div class="testimonial-info mt-3">
                    <h6>Gabriela M.</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq-area ptb-100 bg-f9f9f9">
    <div class="container">
        <div class="section-title">
            <h2>Întrebări frecvente</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="faq-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Cum îmi dau seama că este necesară o evaluare psihologică a copilului?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Dacă se observă comportamente care par neobișnuite, o discrepanță între abilitățile acestuia și cele ale co-vârstnicilor, ori lipsa unor abilități specifice vârstei sunt câteva din motivele pentru care este necesară o evaluare. De asemenea, în cazul școlarilor, evaluarea se poate realiza când se constată dificultăți de învățare, probleme de comportament sau emoționale.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                De la ce vârstă se poate realiza evaluarea psihologică unui copil?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Simptomele unei tulburări în dezvoltare pot fi observate încă din intervalul de vârstă de 18-24 luni, iar abilitățile necesare vârstei cronologice pot fi evaluate din punct de vedere psihologic chiar de la vârsta de 1 an și jumătate.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                În ce constă evaluarea psihologică a unui copil?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Evaluare presupune colectarea informațiilor din mai multe surse, și anume din observarea comportamentului liber al copilului, interviul cu părinții acestuia, aplicarea unor teste standardizate, precum și interacțiunea directă prin care psihologul oferă sarcini sau activități pentru a observa comportamentul și răspunsurile copilului.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Ce informații conține raportul de evaluare?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Raportul conține informațiile cu privire la metodele aplicate și rezultatele obținute, semnificația acestora, interpretarea concluziilor prin raportare la vârsta cronologică și recomandările pe care trebuie să le urmeze părinții în continuare.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingFive">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Care este frecvența necesară a ședințelor de terapie?
                                <i class="flaticon-add"></i>
                            </a>
                        </div>

                        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordionEx">
                            <div class="card-body">
                                <p>Frecvența ședințelor depinde de nevoile copilului și poate varia de la 1–2 ședințe pe săptămână la 3–5 ședințe pe săptămână, în funcție de recomandarea psihologului. Durata și frecvența se ajustează în funcție de progresul copilului.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="faq-shape1"><img src="assets/img/faq-shape1.png" alt="image"></div>
    <div class="faq-shape2"><img src="assets/img/faq-shape2.png" alt="image"></div>
</section>